<div id="newModContainer" style="display: none">
    <div class="d-flex flex-center justify-content-center">
        <div class="card m-5 w-100">
            <div class="card-body">
                <h5 class="card-title">Création d'un nouveau mod</h5>

            </div>
        </div>
    </div>
</div>