<div id="welcomeContainer" style="display: block;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->



    <script src="../../assets/js/scripts/welcome.js"></script>
</div>